<!DOCTYPE html>
<html>
<head>
	<title>WeCare</title>
	<style>

        
		*{
			margin: 0px;
		}
		#top_header{
			width: auto px;
			height: 592px;
            /* position: absolute; */
            /* left: 0px;
            top: 0px; */
		
			

			background: linear-gradient(180deg, #364859 0%, rgba(157, 200, 243, 0) 100%);



		}
		nav {
			/* background-color: #333; */
			overflow: hidden;
		  }
		  
		  nav a {
			display: inline-block;
			color: #f2f2f2;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
		  }
		  nav ul li {
			display: inline-block;
		  }
		  
		  nav a:hover {
			/* background-color: #ddd; */
			color: black;
		  }
		
		div#appoint01{
			width:40px;
			height: 30px;
			margin: 0%;
		}
		input {border:0;outline:0;}
input:focus {outline:none!important;}
	</style>
</head>
<body>
   <div id="top_header" >
	<img style="width:100px" src="logo.png" alt="wecare">
	<div id="navbar" style="position: absolute;
	width: 1110.25px;
	height: 42.11px;
	left: 293px;
	top: -20px;">
        
		<nav>
		<ul >

			
			
			<li style="padding: 40px;"><a href="#">Home</a></li>
			
			<li style="padding: 40px;"><a href="#text(2)">Doctor</a></li>
			<li style="padding: 40px;"><a href="#block1">Services</a></li>
			<li style="padding: 40px;"><a href="#rev">Reviews</a></li>
			
		</ul></nav>

	</div>
	<div style=" background-color: white; position: absolute; top: 3.8%; left: 1400px; padding: 9px; Font-family: 'Inter';
	font-style: normal;
	text-align:centre;
	width:50px;
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;
	/* identical to box height */
	border-radius: 30px;
	color: #535F82;">
		<a href="contact us.html" style="text-decoration: none; padding-left: 6px;">Contact</a></div>
	
	<div  style=" background-color: white; position: absolute; top: 50%; left: 200px; padding: 9px; Font-family: 'Inter';
	font-style: normal;
	text-align:centre;
	width:500px;
	height:30px;
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;
	/* identical to box height */
	border-radius: 30px;
	color: #535F82;">
		<a href="#" style="text-decoration: none; padding-left: 6px;"></a></div>

	<div  style="color:black; position: absolute; top:50%; left: 200px; padding: 9px; Font-family: 'Inter';
		font-style: normal;
		text-align:centre;
		width:500px;
		height:15px;
		font-weight: 500;
		font-size: 12px;
		line-height: 15px;
		border-radius: 30px;
		color: #535F82;
		">
		<input type="text" id="gpt_inp" placeholder="Let's solve your queries today!!" style="text-decoration:none; width: 400px; margin-left: 25px ; margin-top: -2px; height: 30px; border: none; ">
		<script>
			var ak = document.getElementById("gpt_inp");
			ak.addEventListener("onclick", function() {
			  ak.style.border = "white";
			});
		  </script>
		<img src="arrow.png" style = "width: 30px;position: absolute; left: 475px;">
			<a href="#" style="text-decoration: none;padding-top:40px;padding-left:40px;font-size:20px;"> </a>
		</div>


	<div id="title_head">
		<h1 id="title_head" style="position: absolute;
		width: 652px;
		height: 147px;
		left: 45px;
		top: 123px;
		font-family: 'Inter';
		font-style: normal;
		font-weight: 500;
		font-size: 50px;
		line-height: 54px;
		
		color: #FFFFFF;
		">Discover a healthier you</h1>

<h3 id="title1_head" style="position: absolute;
width: 750px;
height: 147px;
left: 45px;
top: 170px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 54px;

color: #FFFFFF;
"> Explore our services and resources for better 
health.</h3>
	</div>
	<div id="img_head">
		<div id="circle1" style="position: absolute;
		width: 380px;
		height: 380px;
		left: 995px;
		top: 147px;
		border-radius: 500px;
		background: rgba(158, 176, 194, 1);">
		</div>

        <div id="circle2" style="position: absolute;
		width: 345px;
		height: 345px;
		left: 1013px;
		top: 165px;
		border-radius: 500px;
		background: rgba(227, 231, 239, 0.64);">

     
		</div>
	</div>
    <img src="landing_top_lady.png" alt="" style="position: absolute; width: 650px ;right:100px; top: 28px; border-radius: 10000px;">
   
  
>
   </div>
   <div id="mid_cont" style="padding-left: 180px;">
	
	<div id="block1" style="
	width: 195px;
	height: 230px;
	left: 458px;
	top: 592px;
	margin: 50px;
	float: left;
	background: #FBFBFB;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
	border-radius: 7px;">
		<img src="heart.png" style="width:48px; left: 75px;position: relative; top: 40px;" height="48px">
		<p style="font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 24px;
		color: #000000;
		top: 50px;
		position: relative;
		left: 55px;">  Cardiology <br>
		
		<!-- <p style="position: relative; width: 170px;" >Deals with the study, diagnosis, and treatment of disorders related to the heart and blood vessels.</p> -->
		 </p>
		 <span style="font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;
top: 54px;
left: 2px;
text-align: center;
position: relative;">The study and treatment of heart and blood vessel-related conditions.</span>

		<div id ="appoint1" style="position: relative;
		width: 130px;
height: 26px;
		left: 38px;
		height:32px;
		top: 72px;

	    
		background: #ffffff;
		box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
		border-radius: 47px;">
		<p style="padding-top: 6px; padding-left: 8px;">Appointment <p>
			<img src="arrow.png" width="19px" height="20px" style="position: relative; left: 104px;top:-18px">
	</div>
	</div>

	<div id="block2" style=" 
	width: 195px;
	height: 230px;
	left: 458px;
	margin: 50px;

	top: 592px;
	float: left;
	background: #FBFBFB;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
	border-radius: 7px;">
	<img src="Peditracian_child.png" height="48px" style="width:48px; left: 75px;position: relative; top: 40px;">
	<p style="font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 24px;
		color: #000000;
		top: 50px;
		position: relative;
		left: 54px;"> Peditracian  </p>
		<span style="font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;
top: 54px;
left: 2px;
text-align: center;
position: relative;">Pediatrics is medical care for children and adolescents up to age 18.</span>
		<div id ="appoint2" style="position: relative;
					width: 130px;

		height: 30px;
		left: 38px;
		height:32px;
		top: 72px;

	
		background: #FFFFFF;
		box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
		border-radius: 47px;"><p style="padding-top: 6px; padding-left: 8px;">Appointment <p>
			<img src="arrow.png" width="19px" height="20px" style="position: relative; left: 104px;top:-18px"></div>
	</div>
	<div id ="appoint02" style="position: absolute;
			width: 130px;
		height: 30px;
		left:858px;
		top:829px;
		background: #ffffff;
		box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
		border-radius: 47px;"><p style="padding-top: 6px; padding-left: 8px;">Appointment <p>
			<img src="arrow.png" width="19px" height="20px" style="position: relative; left: 104px;top:-18px"></div>
	</div>
	
	<div id="block3" style="
	width: 195px;
	height: 230px;
	left: 761px;
	top: 592px;
	margin: 50px;

	float: left;
	background: #FBFBFB;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
	border-radius: 7px;">
	<img src="gyno.png" height="48px" style="width:48px; left: 75px;position: relative; top: 40px;">
	<p style="font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 24px;
		color: #000000;
		top: 50px;
		position: relative;
		left: 44px;"> Gynecology  </p>
		<span style="font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;
top: 54px;
left: 2px;
text-align: center;
position: relative;">Specializing in women's reproductive health, including diagnosis, treatment of reproductive conditions.</span>
</div>
		

	<div id="block4" style="
		width: 195px;
	height: 230px;
	left: 1064px;
	top: 200px;
	margin: 50px;
	float: left;
	background: #FBFBFB;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
	border-radius: 7px;">
	<img src="mental.png" height="48px" style="width:48px; left: 75px;position: relative; top: 40px;">
	<p style="font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: #000000;
	top: 50px;
	position: relative;
	left: 44px;"> Psycological  </p>
	<span style="font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 11px;
	line-height: 13px;
	top: 54px;
	left: 2px;
	text-align: center;
	position: relative;">Psychology is a field of study that focuses on human behavior and mental processes.</span>
		<div id ="appoint4" style="position: relative;
		width: 130px;
		height: 30px;
		left: 38px;
		height:32px;
		top: 72px;


	
		background: #FFFFFF;
		box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
		border-radius: 47px;"><p style="padding-top: 6px; padding-left: 8px;">Appointment <p>
			<img src="arrow.png" width="19px" height="20px" style="position: relative; left: 104px;top:-18px"></div>
	
	</div>
	
	</div>


	<div id="mid_text" style="
	position: static;
	width: 843px;
	height: 50px;
	left: 420px;
	top: 982px;
	margin-left: 25%;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 45px;
	line-height: 54px;
	
	color: #000000;
	">
		We Give Best Services To Our Patients
	</div>

	<div id="gradient">
	<div id="grd(1)" style="position: absolute;
	width: 1440px;
	height: 710px;
	left: 0px;
	top: 1000px;
	
	background: radial-gradient(50% 50% at 50% 50%, #005BBB 0%, rgba(196, 231, 237, 0) 100%);"></div>

	</div>

<div id="info_box(1)" style="width: 1104px;
height: 500px;
position: relative;
top: 500px;
left: 200px;

background: #1D2C4D;
border-radius: 41px;">

<div id="image_txt(1)" style="position: absolute;
width: 457px;
height: 60px;
left: 614px;
top: 85px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 30px;
text-transform: capitalize;

color: #FFF2F2;
">
	we have one of the best doctors to serve you the best treatment

</div>

<div id="image_text(2)" style="position: absolute;
width: 457px;
height: 246px;
left: 614px;
top: 211px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 18px;
text-transform: capitalize;

color: #FFF2F2;
">
	proud to have a team of exceptional doctors who are dedicated to providing the highest quality of care to our patients.<br>
	<br><br><br>

With their expertise, compassion, and commitment to excellence, our doctors ensure that each patient receives personalized and comprehensive treatment to help them achieve optimal health.<br><br><br> <br>
Trust us to provide you with exceptional medical care.

</div>

<div >
	<img src="mid_image(1).png" alt="" style="width:514px;
	height: 417px;
	left: 50px;
	top: -240px;
	position: relative;
	
	background: url(image.png);
	border-radius: 45px;">
</div>
</div>

<div id="text(2)" style="width: 497px;
height: 50px;
left: 550px;
top: 600px;
position: relative;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 45px;
line-height: 54px;

color: #000000;
">
	Our Dedicated Doctors

</div>

	
	

<div id="doc_details" style="padding-left: 180px; position: relative; top: 700px;">
	
	<div id="block11" style="
	width: 195px;
	height: 250px;
	left: 458px;
	top: 592px;
	margin: 50px;
	float: left;
	background: #FBFBFB;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
	border-radius: 7px;">
	<img src="dr_1.png" alt="" style="position: relative;
	width: 145px;
height: 141px;
	left: 23px;
	top: 24px;">
	<div id="dr_txt" style="position: relative;
	width: 106px;
	height: 26px;
	left: 50px;
	top: 60px;
	
	">
	<span style="font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 11px;
	line-height: 13px;
	
	color: #000000;"> Experience : 5 years
	&ensp;&ensp;&ensp;Gynecologist </span>

	</div>
	
	<div id="dr_nm_cont" style="position: relative;
	width: 103px;
	height: 26px;
	left: 46px;
	top: 6px;
	
	background: #FFFFFF;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
	border-radius: 47px;">
	<span id="doc_name1" style="left: 10px; position: relative; top: 3px;">Dr. Montana</span>

	</div>
	


</div>
	<div id="block22" style=" 
	width: 195px;
	height: 250px;

	left: 458px;
	margin: 50px;

	top: 592px;
	float: left;
	background: #FBFBFB;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
	border-radius: 7px;">
	
	<img src="dr_2.png" alt="" style="position: relative;
	width: 145px;
height: 141px;
	left: 23px;
	top: 24px;">
	<div id="dr_txt" style="position: relative;
	width: 106px;
	height: 26px;
	left: 50px;
	top: 60px;
	
	">
	<span style="font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 11px;
	line-height: 13px;
	
	color: #000000;"> Experience :7 years
     &ensp;&ensp;&ensp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Peditracian </span>

	</div>
	
	<div id="dr_nm_cont" style="position: relative;
	width: 103px;
	height: 26px;
	left: 46px;
	top: 6px;
	
	background: #FFFFFF;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
	border-radius: 47px;">
	<span id="doc_name1" style="left: 10px; position: relative; top: 3px;">Dr. Jackson</span>

	</div></div>

	<div id="block33" style="
	width: 195px;
	height: 250px;

	left: 761px;
	top: 592px;
	margin: 50px;

	float: left;
	background: #FBFBFB;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
	border-radius: 7px;"><img src="dr_3.png" alt="" style="position: relative;
	width: 145px;
height: 141px;
	left: 23px;
	top: 24px;">
	<div id="dr_txt" style="position: relative;
	width: 106px;
	height: 26px;
	left: 50px;
	top: 60px;
	
	">
	<span style="font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 11px;
	line-height: 13px;
	
	color: #000000;"> Experience : 5 years
	&ensp;&ensp;&ensp;Cardiologist </span>

	</div>
	
	<div id="dr_nm_cont" style="position: relative;
	width: 103px;
	height: 26px;
	left: 46px;
	top: 6px;
	
	background: #FFFFFF;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
	border-radius: 47px;">
	<span id="doc_name1" style="left: 25px; position: relative; top: 3px;">Dr. Jack</span>

	</div></div>

	<div id="block44" style="
	width: 195px;
	height: 250px;

	left: 1064px;
	top: 592px;
	margin: 50px;
	float: left;
	background: #FBFBFB;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
	border-radius: 7px;">
	<img src="dr_4.png" alt="" style="position: relative;
	width: 145px;
height: 141px;
	left: 23px;
	top: 24px;">
	<div id="dr_txt" style="position: relative;
	width: 106px;
	height: 26px;
	left: 50px;
	top: 60px;
	
	">
	<span style="font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 11px;
	line-height: 13px;
	
	color: #000000;"> Experience : 5 years
	&ensp;&ensp;&ensp;Psycologist </span>

	</div>
	
	<div id="dr_nm_cont" style="position: relative;
	width: 103px;
	height: 26px;
	left: 46px;
	top: 6px;
	
	background: #FFFFFF;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
	border-radius: 47px;">
	<span id="doc_name1" style="left: 25px; position: relative; top: 3px;">Dr. Mona</span>

	</div>
	</div>
	</div>


	<div id="bottom_text" style="position: absolute;
	width: 497px;
	height: 50px;
	left: 550px;
	top: 2241px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 45px;
	line-height: 54px;
	
	color: #0756D4;">

What Our Clients Say

    <section id="rev"> </section>
	</div>
	<div id="clients" style="left:40px; position:absolute; top:0;">
		<div id="c1" style="position: absolute;
		width: 349px;
		height: 149px;
		left: 134px;
		top: 2375px;
		
		background: #E6F2FF;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 20px;">
		<div id=" c1_text" style="position: absolute;
		width: 305px;
		height: 72px;
		left: 22px;
		top: 25px;
		
		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 15px;
		line-height: 18px;
		
		color: #000000;">
		"I had a great experience at this healthcare facility. The staff was professional and attentive, and the facilities were clean and modern."

		</div>
		<img src="c1.jpg" alt="" style="position: absolute;
		width: 60px;
		height: 60px;
		left: 267px;
		top: 81px;
		
		
		border-radius: 654px;">
		</div>

		<div id="c2" style="position: absolute;
		padding: auto;
		width: 349px;
		height: 149px;
		left: 545px;
		top: 2375px;
		
		background: #E6F2FF;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 20px;">
		<div id="c2_text" style="position: absolute;
		width: 302px;
		height: 68px;
		left: 24px;
		top: 25px;
		
		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 15px;
		line-height: 18px;
		
		color: #000000;">
		"I highly recommend this healthcare provider. They were knowledgeable, compassionate, and helped me get the care I needed."
	</div>
	<img src="c2.jpg" alt="" style="position: absolute;
	width: 60px;
	height: 60px;
	left: 271px;
	top: 80px;
	
	background: url(.jpg);
	border-radius: 654px;">
	

		</div>
		</div>

		<div id="c3" style="position: absolute;
		width: 349px;
		height: 149px;
		left: 1000px;
		top: 2375px;
		
		background: #E6F2FF;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 20px;">
		<div id="c3_text" style="position: absolute;
		width: 317px;
		height: 61px;
		left: 16px;
		top: 25px;
		
		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 15px;
		line-height: 18px;
		
		color: #000000;
		">
		"I've been a patient at this healthcare center for years and have always been impressed with the level of care I receive."

		</div>
		<img src="c3.jpg" alt="" style="position: absolute;
		width: 60px;
		height: 60px;
		left: 263px;
		top: 78px;
		
		
		border-radius: 654px;">
		

	</div>

	
		<div id="footer(2)">
			<div id="f(2)" style="position: absolute;
			width: 1519px;
			height: 548px;
			left: 0px;
			top: 2961px;
			
			background: #2D3869;">
			<div id="logo_txt">

			</div>
			<div id="logo_foot" >
				<img src="logo.png" alt="" style="position: absolute;
				width: 123px;
				height: 124px;
				left: 124px;
				top: 317px;
				
				background: url(image.png);
				border-radius: 250px;">
			

			</div>
			
		</div>

<div id="footer(1)">
	<div id="f(1)" style=" position: absolute;
	width: 1104px;
	height: 448px;
	left: 210px;
	top: 2737px;
	
	background: #1582EB;
	border-radius: 41px;">
	<div id="text(01)" style="position: absolute;
	width: 348px;
	height: 42px;
	left: 402px;
	top: 53px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 38px;
	line-height: 46px;
	
	color: #FFFFFF;
	">
	Subscribe To Page

	</div>

	<div id="text(02)" style="position: absolute;
	width: 419px;
	height: 52px;
	left: 342px;
	top: 117px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 19px;
	line-height: 23px;
	text-align: center;
	
	color: #FFFFFF;
	">
	Stay updated and get Check up reminders from us.

	</div>
	<div id="subscribe_container" style="position: absolute;
	width: 470px;
	height: 75px;
	left: 317px;
	top: 224px;
	
	background: #FFFFFF;
	border-radius: 58px;">

	<div id="inner_sub_container" style="position: absolute;
	width: 114px;
	height: 63px;
	left: 348px;
	top: 6px;
	
	background: #1582EB;
	border-radius: 58px;
	">
	<div id="sub_text" style="position: absolute;
	width: 94px;
	height: 22px;
	left: 10px;
	top: 19px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 19px;
	line-height: 23px;
	text-align: center;
	
	color: #FFFFFF;
	">
	Subscribe</div>

	<div id ="wecare" style="position: relative;
		width: 86px;
		height: 21px;
		left: -720px;
		top: 285px;
		
		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 16px;
		
		color: #FFFFFF;">We Care</div>
	
	<div id="sub-1" style="position: relative;
	width: 86px;
	height: 21px;
	left: -400px;
	top: 268px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 16px;
	
	color: #FFFFFF;">Department</div>

	<div id="sub-1-1" style="position: relative;
	width: 86px;
	height: 21px;
	left: -400px;
	top: 298px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 16px;
	
	color:  #A19898;">Skin Care</div>

	<div id="sub-1-2" style="position: relative;
	width: 86px;
	height: 21px;
	left: -400px;
	top: 328px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 16px;
	
	color:  #A19898;">Eye Care</div>

	<div id="sub-1-3" style="position: relative;
	width: 86px;
	height: 21px;
	left: -400px;
	top: 358px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 16px;
	
	color:  #A19898;">Pathology</div>

	<div id="sub-1-4" style="position: relative;
	width: 86px;
	height: 21px;
	left: -400px;
	top: 388px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 16px;
	
	color:  #A19898;">Medicine</div>
	
	<div id="sub-2" style="position: relative;
	width: 90px;
	height: 21px;
	left: -150px;
	top: 163px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	
	color:#FFFFFF">Useful links</div>

	<div id="sub-2-1" style="position: relative;
	width: 90px;
	height: 21px;
	left: -150px;
	top: 193px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	
	color:  #A19898">About</div>

	<div id="sub-2-2" style="position: relative;
	width: 90px;
	height: 21px;
	left: -150px;
	top: 223px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	
	color:  #A19898">Blog</div>
	
	<div id="sub-2-3" style="position: relative;
	width: 90px;
	height: 21px;
	left: -150px;
	top: 253px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	
	color:  #A19898">Contact</div>

	<div id="sub-2-4" style="position: relative;
	width: 90px;
	height: 21px;
	left: -150px;
	top: 283px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	
	color: #A19898">Appointment</div>

	<div id="sub-3" style="position: relative;
	width: 90px;
	height: 21px;
	left: 150px;
	top: 57px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 16px;
	
	color:#FFFFFF">Services</div>

	<div id="sub-3-1" style="position: relative;
	width: 140px;
	height: 21px;
	left: 150px;
	top: 87px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 16px;
	color: #A19898">Emergency Services</div>

	<div id="sub-3-2" style="position: relative;
	width: 140px;
	height: 21px;
	left: 150px;
	top: 107px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 16px;
	
	color: #A19898">Qualified Doctors</div>
	<img src="facebook.png" alt="" style="position :relative;
	width:25px;
	height:30px;
	left:150px;
	top:110px;">
	
	<img src="twitter.png" alt="" style="position :relative;
	width:25px;
	height:30px;
	left:150px;
	top:110px;">
	
	<img src="instagram.png" alt="" style="position :relative;
	left:150px;
	top:110px;
	width:25px;
	height:30px;
	">

	
	<img src="github.png" alt="" style="position :relative;
	width:25px;
	height:30px;
	left:150px;
	top:110px;">




	
	</div>
    </div>

	</div>
	</div>
	</div>

		</div>
	</div>
</body>
</html>